# backend/node_modules
# backend/useless
# frontend/useless
# frontend/node_modules
# frontend/build
# kubernetes/useless
# kubernetes/config_map
# kubernetes/config_secret
# useless
# TODO
# .gitignore